body {
    text-align: center;
    width: 930px;
}

.tittle {
    background-color: lightgray;
    color: red;
    border: 4px solid black;
    font-size: 60px;
    width: 80%;
    margin: 5px auto;
}

.gentei {
    font-weight: bold;
    font-size: 25px;
    margin: 5px;
}

.nebiki {
    margin: 5px;
    color: orange;
    font-size: 36px;
}

li {
    font-size: 20px;
    width: 80%;
}

h3 {
    font-size: 30px;
    margin: 5px;
}

h4 {
    font-size: 22px;
    margin: 3px;
}

.container {
    /* background-color: darkgrey; */
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.price {
    background-color: rgb(255, 187, 61);
    border: 5px solid black;
    width: 40%;
}

.after {
    /* background-color: rgb(158, 216, 218); */
    background-color: rgb(151, 255, 151);
    margin-left: 20px;
    float: right;
    border: 4px solid black;
    padding-left: 5px;
}

h1 {
    margin: 3px;
    font-size: 50px;
}

span {
    color: red;
    font-size: 50px;
}

.p {
    margin: 0px;
}

.l {
    font-size: 18px;
    list-style: none;
}
